
<router-outlet></router-outlet>
<app-adminnavbar></app-adminnavbar>

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome back, Admin</h1>
    <p>Easily manage your data from this admin <mark>CMS</mark></p>
</div>
<div class="container-fluid">
    <div class="row">
    
        
           
        
        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">Products</h4>
                    <p class="card-text">Manage all the products here.</p>
                    <a routerLink="/products" class="card-link btn btn-primary">Manage</a>

                </div>
            </div>
        </div>
       
            
        
        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">Registered Users</h4>
                    <p class="card-text">See All Registered Users Here.</p>
                    <a routerLink="/userlist" class="card-link btn btn-primary">List Users</a>

                </div>
            </div>
        </div>
        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">Purchase Report</h4>
                    <p class="card-text">See Purchase Report Here.</p>
                    <a routerLink="/purchasereport" class="card-link btn btn-primary">Purchase Report</a>

                </div>
            </div>
        </div>
        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">ContactUs</h4>
                    <p class="card-text">Check the messages here</p>
                    <a routerLink="/viewcontact" class="card-link btn btn-primary">ContactUs</a>

                </div>
            </div>
        </div>
    </div>
</div>
   
    
     
    
       
        
        
