.container-xxl{
    color: black;
    margin-top: 40px;
    margin-bottom: 40px;
    
}
.img{
    align-items: center;
    
}
.head{
   font-size:x-large;
   margin-right: 60px;
   color:#2874f0;
}
.data{
    font-size: x-large;
}
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
    display: flex;
   
}
