<app-navbar></app-navbar>

<div class=" container-xxl">
    <h1>Profile:</h1>
<div class="row">
<div class="service-item img col-lg-4 card">
    <div>
        <img src="assets/profile2.png" class="" height="150" width="150" >
    </div><hr>
    <div class="card-body text-center">
        
      <h4 style="margin-top:40px ;">{{user.username}}</h4>
    </div>
</div>


<div class="col-lg-1"></div>


<div class="service-item col-lg-7 card">
    
    <tr class="row1">
        <th class="head col-lg-3">Firstname:&nbsp;&nbsp;</th>
        <td class="data col-lg-4">{{user.firstName}}</td>
       </tr><hr>
   <tr>
    <th class="head col-lg-3" >Lastname:&nbsp;&nbsp;&nbsp;</th>
    <td class="data col-lg-4">{{user.lastName}}</td>
   </tr><hr>
   <tr >
    <th class="head col-lg-2">Email ID:</th>
    <td class="data col-lg-5">{{user.email}}</td>
   </tr><hr>
   <tr>
    <th class="head col-lg-3">Contact No:</th>
    <td class="data col-lg-4">{{user.contactNumber}}</td>
   </tr>
<hr>

</div>





</div>
</div>





<app-footer></app-footer>