<app-navbar></app-navbar>
    <div class="container">
        <div *ngIf="wishlistitem.length == 0">
            <div class="col-12 offset-lg-12">
                <div class="alert alert-warning text-center"><strong>Your Wishlist is empty!</strong></div>
            </div>
            <div class="container-fluid  mt-60">
                <div class="row">
                
                   <div class="col-md-12">
                   
                           <div class="card">
                       
                       <div class="card-body cart">
                               <div class="col-sm-12 empty-cart-cls text-center">
                                   <img src="assets/image.png" width="500" height="350" class="img-fluid mb-4 mr-3">
                                   <h3><strong>Your Wishlist is Empty</strong></h3>
                                   <h4>Add something to make me happy :)</h4>
                                   <a href="#" routerLink="/shop" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
                                   
                               
                               </div>
                       </div>
               </div>
                       
                   
                   </div>
                
                </div>
               
               </div>
        </div>
        <!--Section: Block Content-->
        <section *ngIf="wishlistitem.length > 0" class="mt-5 mb-4">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-6">

                    <!-- Card -->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th [width]="150">
                                    Products
                                </th>
                                <th [width]="400"></th>
                                <th></th>
                                <th></th>
    
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of wishlistitem">
                                <td>
                                    <img class="img-thumbnail" width="150" height="200" [src]="item.img">
                                </td>
                                <td>
                                    <h5>{{item.name}}</h5>
                                    <p class="text-muted">By {{item.brand}}</p>
                                    <p>MRP: <b>{{item.price | currency: 'INR'}}*</b></p>
                                    
                                </td>
                               
                                <td><br><button class="btn btn-danger btn-sm" (click)="removeItem(item)"><i
                                            class="fas fa-trash-alt"></i></button></td>
                            </tr>
                         
                                
                        </tbody>
                    </table>



                </div>
                <!--Grid column-->

                <p class="p text-primary mb-0"><i class="fas fa-info-circle mr-1"></i> Do not delay the purchase, adding
                    items to your wishlist does not mean booking them.</p>
            </div>
            <!--Grid row-->

        </section>
        <!--Section: Block Content-->

    </div>

<app-footer></app-footer>