<router-outlet></router-outlet>
<app-adminnavbar></app-adminnavbar>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form class="submit-form form-group"
                 >
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" required  name="name" id="name"  placeholder="Enter name">

                </div>

                <button type="submit" class="btn btn-primary"  routerLink="/categories">Submit</button>
            </form>
        </div>
    </div>
</div>
